<nav class="navbar navbar-inverse" style="background-color:#3B5999;padding: 15px;">
  <div class="container-fluid" style="color: white">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-family:'Arial Rounded MT Bold';font-style: italic;font-size: 24px">facebook</a>
    </div>
  <app-navs></app-navs>
  </div>
</nav>

<div class="container">
  <h3>Hello....</h3>
  <p>navbar header in angular</p>
</div>
